.row{  
 
    padding: 0px;
 }
 
 footer{background-color: #fff3e0; 
     font-size: 12px;
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     color: black;
 text-align:left;
 
 }
 