   



<div><MARQUEE WIDTH=50% HEIGHT=60>

</MARQUEE><MARQUEE>  ------------LO QUE HAGAS SIEMPRE ES MEJOR CON UNA PAGINA WEB   -------------        MOSTRA TU NEGOCIO AL MUNDO    ------------      SUMATE A MIS CLIENTES    -------------       SEGUIME EN REDES SOCIALES ------------- </MARQUEE>

</div>

<div> <div class="row">
    
    <footer> <p>   Copyright SHHOYOS/Argentina Programa 2022-Huerta Grande Cordoba Argentina  </p>
    
        <b style="color: red" onclick="changeColor(this.parentNode)">Bold text</b>  
      
        <img class="img-responsive about-img" src="images/LOGO.png">
     
    </footer>
    
    
    </div>
